.main {
  padding: 1rem;
}

.input {
  background-color: #8888;
  width: 12rem;
  height: 2.4rem;
  padding: 2px 12px;
  font-weight: bold;
  font-size: 16px;
  color: #ccc;
  border: none;
  outline: none;
  border-radius: 8px;
}